body {
  text-align: center;
  font-size: 40px;
}

p {
  font-size: 25px;
}

#autofeederButtons button {
  font-size: 40px;
  display: block;
  margin: auto;
  margin-top: 5px;
}

#tongue-button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 150px;
  text-align: center;
  width: 200px;
  height: 200px;
  cursor: url("./cheezit.cur"), auto;
}

#tongue-button:focus {
  animation: tongue-react 1s linear;
}

#tongue-button:active {
  animation: none;
}

@keyframes tongue-react {
  0% {
    transform: rotate(0deg) scale(1, 1);
  }
  20% {
    transform: rotate(20deg) scale(1.2, 1.2);
  }
  40% {
    transform: rotate(-10deg) scale(0.8, 0.8);
  }
  60% {
    transform: rotate(5deg) scale(1.1, 1.1);
  }
  80% {
    transform: rotate(-2deg) scale(0.9, 0.9);
  }
  100% {
    transform: rotate(0deg) scale(1, 1);
  }
}
