body {
  text-align: center;
  font-size: 40px;
}

.upgradeButton {
  font-size: 30px;
}

#tongue-button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 150px;
  text-align: center;
  width: 200px;
  height: 200px;
  cursor: url("./cheezit.cur"), auto;
}
